# Hive Assignment 3. DML: Calculate Amount of Posts per User Age

Use Hive to complete the following task. Input tables was described in Hive Task1 and Hive Task2.

Calculate number of questions and answers depending on users' age. Use Ð°ge from 'users' table, filter out users if their age is undefined. Output format:

    age <tab> number of questions <tab> number of answers
    
Example:

    22 12345 5678

Output all ages. Order by age, increment.

The part of the result on the sample dataset:

    ...
    21  11  24
    22  6   18
    23  12  15
    24  16  27
    25  20  33
    ...


Hint. To simplify your code and reduce the quantity of MapReduce jobs produced by the query, use IF clause.

Please use the tables 'posts' and 'users' from the database 'stackoverflow_'. 'posts' is partitioned by year and by month. For more details see "Hive assignment. Intro and instructions".

In [1]:
%%writefile query.hql

USE stackoverflow_;

SELECT
    users.age,
    sum(if(post_type_id = 1, 1, 0)),
    sum(if(post_type_id = 2, 1, 0))
FROM 
    posts
JOIN 
    users ON posts.owner_user_id = users.id
WHERE 
    post_type_id IN (1,2) 
    AND users.age IS NOT NULL
GROUP BY users.age
ORDER BY users.age

Overwriting query.hql

In [2]:
!hive -f query.hql

Logging initialized using configuration in jar:file:/usr/local/apache-hive-1.1.0-bin/lib/hive-common-1.1.0.jar!/hive-log4j.properties
OK
Time taken: 1.119 seconds
Query ID = jovyan_20181113144545_62a4338d-277f-4da6-a01a-14c2947b8d9f
Total jobs = 2
Execution log at: /tmp/jovyan/jovyan_20181113144545_62a4338d-277f-4da6-a01a-14c2947b8d9f.log
2018-11-13 02:45:16	Starting to launch local task to process map join;	maximum memory = 477626368
2018-11-13 02:45:19	Dump the side-table for tag: 1 with group count: 5951 into file: file:/tmp/jovyan/e61bf477-6d8d-4465-857a-1c45c0b59c68/hive_2018-11-13_14-45-07_749_269603870797727616-1/-local-10005/HashTable-Stage-2/MapJoin-mapfile01--.hashtable
2018-11-13 02:45:19	Uploaded 1 File to: file:/tmp/jovyan/e61bf477-6d8d-4465-857a-1c45c0b59c68/hive_2018-11-13_14-45-07_749_269603870797727616-1/-local-10005/HashTable-Stage-2/MapJoin-mapfile01--.hashtable (137665 bytes)
2018-11-13 02:45:19	End of local task; Time Taken: 2.184 sec.
Execution completed successfully
MapredLocal task succeeded
Launching Job 1 out of 2
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1542041219823_0033, Tracking URL = http://c5bd5fec03a1:8088/proxy/application_1542041219823_0033/
Kill Command = /opt/hadoop/bin/hadoop job  -kill job_1542041219823_0033
Hadoop job information for Stage-2: number of mappers: 1; number of reducers: 1
2018-11-13 14:45:33,799 Stage-2 map = 0%,  reduce = 0%
2018-11-13 14:45:44,702 Stage-2 map = 100%,  reduce = 0%, Cumulative CPU 9.36 sec
2018-11-13 14:45:53,446 Stage-2 map = 100%,  reduce = 100%, Cumulative CPU 14.06 sec
MapReduce Total cumulative CPU time: 14 seconds 60 msec
Ended Job = job_1542041219823_0033
Launching Job 2 out of 2
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1542041219823_0034, Tracking URL = http://c5bd5fec03a1:8088/proxy/application_1542041219823_0034/
Kill Command = /opt/hadoop/bin/hadoop job  -kill job_1542041219823_0034
Hadoop job information for Stage-3: number of mappers: 1; number of reducers: 1
2018-11-13 14:46:10,762 Stage-3 map = 0%,  reduce = 0%
2018-11-13 14:46:18,440 Stage-3 map = 100%,  reduce = 0%, Cumulative CPU 2.41 sec
2018-11-13 14:46:25,959 Stage-3 map = 100%,  reduce = 100%, Cumulative CPU 5.53 sec
MapReduce Total cumulative CPU time: 5 seconds 530 msec
Ended Job = job_1542041219823_0034
MapReduce Jobs Launched:
Stage-Stage-2: Map: 1  Reduce: 1   Cumulative CPU: 14.06 sec   HDFS Read: 2261830 HDFS Write: 1056 SUCCESS
Stage-Stage-3: Map: 1  Reduce: 1   Cumulative CPU: 5.53 sec   HDFS Read: 5621 HDFS Write: 376 SUCCESS
Total MapReduce CPU Time Spent: 19 seconds 590 msec
OK
14	1	0
15	1	2
16	2	0
17	0	1
18	4	1
19	1	1
20	0	2
21	11	24
22	6	18
23	12	15
24	16	27
25	20	33
26	23	44
27	28	56
28	24	37
29	24	66
30	26	67
31	17	33
32	13	48
33	11	40
34	24	36
35	12	42
36	8	64
37	9	35
38	6	17
39	3	7
40	1	13
41	5	20
42	5	22
43	2	26
44	7	35
45	1	4
46	7	9
47	1	1
48	1	1
49	1	26
50	1	26
51	4	5
52	0	2
53	0	2
54	0	1
57	0	3
58	1	57
60	0	6
61	0	3
64	2	1
86	0	1
96	3	1
Time taken: 80.423 seconds, Fetched: 48 row(s)